/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 15px;
}

#bigpicture {
	background-image: url(../img/skate.jpg);
	background-size: cover;
	height: 100%;
}

.bio {
	position: absolute;
	top: 0;
	height: 100%;
	width: 475px;
	right: 300px;
	background-color: rgba(255,255,255,.8);
}

h1 {
	font-size: 4.5em;
	padding: 20px;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	padding: 0 20px;
	padding-bottom: 40px;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	padding: 20px;
	font-weight: bold;
}

.bio a {
	background-color: #0071ce;
	border-radius: 5px;
	padding: 12px 40px;
	text-decoration: none;
	margin-left: 20px;
	color: white;
	font-size: 1.5em;
}

.bio a:hover {
	background-color: #17b1f9;
}

.bio p {
	padding: 10px 20px;
	line-height: 20px;
	letter-spacing: 1px;
}
.bio p:first-of-type{
	margin-top: 40px;
}

.social ul li{
	display: inline-block;
	padding-left: 20px;
	margin-top: 20px;
}

blockquote {
	position: absolute;
	top: 600px;
	background-color: rgba(0,0,0,.3);
	width: 100%;
	text-align: center;
	padding: 15px 0 ;
	font-size: 1.5em;
	color: rgba(70,70,70,1);
	font-style: italic;	
}

.projects {
	position: absolute;
	top: 36%;
	height: 44%;
	width: 230px;
	right: 35px;
	background-color: rgba(255,255,255,.8);
	border-radius: 5px;
}

.projects a {
	display: block;
	padding-left: 20px;
}

h4 {
	font-size: 1em;
	padding: 20px;
	font-weight: bold;
	margin-top: -10px;
}

@media screen and (max-width: 900px){
	.bio {
		width: 380px;
	}
	h1 {
		font-size: 3em;
	}
	blockquote {
		top: 625px;
	}
}

@media screen and (max-width: 480) {
	#bigpicture {
		background-image: url(../img/skatemobile.png);
		background-size: 480px auto;
		height: 225px;
		background-repeat: no-repeat;	}
	.bio {
		position: relative;
		width: 440;
		margin: 0 auto;
		top: 0;
		right: 0;
	}
	.projects {
		position: relative;
		width: 225;
		margin: auto;
		top: 0;
		right: 0;

	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1em;
	}
}

@media screen and (max-width: 320) {
	#bigpicture {
		background-image: url(../img/skatemobile.png);
		background-size: 320px auto;
		height: 225px;
		background-repeat: no-repeat;	}
	.bio {
		position: relative;
		width: 280;
		margin: 0 auto;
		top: 0;
		right: 0;
	}
	.projects {
		position: relative;
		width: 225;
		margin: auto;
		top: 0;
		right: 0;

	}
}

